body {
    font-family: Arial, sans-serif;
    background-color: #b0e9df;
    margin: 0;
    padding: 0;
  }
  
  .cont {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b877dd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6a96c5;
  }

.result {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }
    